*.dirstamp
*.o
.deps/
.libs/
*.la
*.lo
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
*~
src/*~
create-ephemerals
get-children-with-watch
get-data-with-watch
src/libclients.pc
*.tar.gz
create-multiple-ephemerals
create-idle-clients
create-delete-ephemerals